@import url(https://fonts.googleapis.com/css?family=Arvo:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);



.container{
    max-width: 1100px;
    margin: 0 auto;
}
.container__head{
    display: flex;
    align-items: center;
}
h1, h3{
    font-family: "Arvo";
    color: #212121;
}
span{
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
}
.text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}
.title{
    margin: 0 auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}
.cards{
    padding: 4.375rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr) );
    gap: 1.25rem;
}
.shuffle{
    line-height: 15px;
    font-size: 12px;
    color: #212121;
    letter-spacing: 2.4px;
    cursor: pointer;
}
.shuffle-icon{
    vertical-align: middle;
    margin-right: 20px;
}




@media screen and (max-width: 800px) {
    .card__title{
        margin: 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 2rem;
    }
    .cards__item--big{
        grid-column: 1/1;
    }
}

@media screen and (max-width: 600px) {
    .container__head{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}